@page "~/sobre"
@model MyRazorApp.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre";
}

<h1>@ViewData["Title"]</h1>

@section scripts {
<script src="~/js/site.js" asp-append-version="true"></script>
}